@import './mobile';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

:is(h1, h2, h3, h4, h5, h6) {
    font-family: 'Merriweather', serif;
}

.main-header {
    height: 100vh;
    position: relative;
    .overlay {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
        position: relative;
        background: rgba(0, 0, 0, 0.5);
    }

    #video-background {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: auto;
        min-height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
    nav {
        position: relative;
        .navbar-brand {
            font-family: 'Crimson Text', serif;
            font-size: 2rem;
        }

        #shopping-cart {
            position: absolute;
            right: 1.5rem;
            cursor: pointer;
        }
    }

    .showcase {
        .container {
            height: 80vh;
        }
    }
}
